<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  <style>
    .service-details {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin: 60px auto;
      max-width: 800px; /* Adjust the width as needed */
    }

    .service-details h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #1a1a1a;
    }

    .manicure-type {
      margin-bottom: 20px;
    }

    .manicure-type h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .manicure-type p {
      font-size: 16px;
      color: #1a1a1a;
    }

    .manicure-type img {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
    }

    .back-link {
      margin-top: 20px;
      text-align: center;
    }

    .back-link a {
      text-decoration: none;
      color: #252525;
      font-weight: bold;
      border: 1px solid #252525;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
      transition: background-color 0.2s ease, color 0.2s ease;
    }

    .back-link a:hover {
      background-color: #252525;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container service-details">
    <h1>Services</h1>

    <div class="manicure-type">
      <h2>Classic Manicure</h2>
      <p>A classic manicure includes trimming, shaping, and painting your nails. It's a timeless choice for a clean, natural look.</p>
      <img src="/assets/classic.jpg" alt="Classic Manicure">
    </div>

    <div class="manicure-type">
      <h2>French Manicure</h2>
      <p>The French manicure is characterized by a pale pink or nude base with white tips. It's elegant and versatile.</p>
      <img src="/assets/french.jpg" alt="French Manicure">
    </div>

    <div class="manicure-type">
      <h2>Gel Manicure</h2>
      <p>Gel manicures use a special nail polish cured under UV light, offering long-lasting and chip-resistant color.</p>
      <img src="/assets/gel.webp" alt="Gel Manicure">
    </div>

    <div class="back-link">
      <a href="/manicures">Book Now</a>
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</body>
</html>
