<div class="slick-list">
  <div>
    <div class="promotion">
      <p>New Client Welcome Offer: First-time clients receive 15% off their first manicure appointment.</p>
    </div>
  </div>
  <div>
    <div class="promotion">
      <p>Join our monthly membership program and enjoy exclusive discounts and perks on all nail services.</p>
    </div>
  </div>
  <div>
    <div class="promotion">
      <p>Bring your friends for a group manicure session and enjoy a complimentary glass of champagne for each guest.</p>
    </div>
  </div>
</div>

<div class="overlay" id="overlay"></div>

<div class="overlay-menu" id="overlay-menu">
  <ul>
    <li><a href="/services">Services</a></li>
    <li><a href="/manicures">Price list</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>

<header>
  <div class="navbar">
    <a href="#" class="logo">Beauty Mind</a>
    <div class="menu-button" id="toggle-menu">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
        <a href="/dashboard" class="account-link">
      <i class="icon-account"></i>
    </a>
  </div>
</header>

<body>
  <div class="image-container">
  <img src="/assets/manicure3.jpeg" alt="Description of your image">
  <img src="/assets/manicure4.jpeg" alt="Description of your image">
  <img src="/assets/manicure1.jpeg" alt="Description of your image">
  </div>
</body>

<footer class="footer">
  <h3 class="footer-text">UNLOCK YOUR INNER BEAUTY, UNLEASH YOUR MIND.</h3>
  <div class="footer-content">
    <div class="footer-logo">
      <a href="#" class="logo">Beauty Mind</a>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/services">Services</a></li>
        <li><a href="/manicures">Price list</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <a href="#" class="social-icon"><img src="/assets/icon-social-insta.svg"></i></a>
      <a href="#" class="social-icon"><img src="/assets/icon-social-pinterest.svg"></i></a>
      <a href="#" class="social-icon"><img src="/assets/icon-social-youtube.svg"></i></a>
    </div>

  </div>
  <div class="footer-copyright">
    <p>&copy; 2023 BeautyMind</p>
  </div>
</footer>
